<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="background">
    <img src="img/background.jpeg" class="stretch" alt="" />
    </div> 
        <div class="main-content">
        {{>header}}
        <p>This weather widget is created by Bilal. It uses REST API's to get real time weather data. </p>
        <img class="portrait" src="/img/me.jpeg" alt="Bilal">
        </div>
       
        {{>footer}}
    </body>
</html>