<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="background">
    <img src="img/background.jpeg" class="stretch" alt="" />
    </div> 
        <div class="main-content">
            {{>header}}
             {{helptext}}

        </div>
        {{>footer}}
    </body>
</html>